.main-account {
    padding-top: 50px;
}

  h1, h2 {
    color: #333;
  }
  
  .chart-container {
    position: relative;
    height: 300px; 
    border: 2px solid #333; 
    border-radius: 10px;
    padding: 20px; 
  }
  
  .transactions-history {
    margin-top: 20px;
  }
  
  .transactions-history table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; 
    overflow: hidden;
  }
  
  .transactions-history th, .transactions-history td {
    padding: 15px;
    text-align: left;
  }
  
  .transactions-history th {
    background-color: #0056B3;
    color: white;
    font-weight: normal;
  }
  
  .transactions-history tbody tr {
    background-color: #F4F7FC;
    color: #333;
  }
  
  .transactions-history tbody tr:nth-child(even) {
    background-color: #E9EFF8;
  }
  
  .transactions-history tbody tr td:nth-child(3) {
    color: #FF4C4C; /* Default color for negative amounts */
  }
  
  .transactions-history tbody tr td:nth-child(3).positive {
    color: #00A000; /* Color for positive amounts */
  }

  
  .account-details {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto auto 1fr auto; 
    row-gap: 20px; 
    column-gap: 20px;
  
    .account-details__h1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        font-family: Work Sans;
        font-size: 34px;
        font-weight: 700;
        line-height: 39.88px;
        letter-spacing: -0.02em;
        text-align: left;
    }  

    .account-details__btn {
        grid-column: 11 / 13;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        background-color: #0056B3;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        svg {
          margin-right: 10px;
        }
    }

    .account-details__numb {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
        font-size: 18px;
        font-family: Work Sans;
        font-size: 34px;
        font-weight: 400;
        line-height: 39.88px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom:10px;
    }

    .account-details__balance {
        grid-column: 10 / 13;
        grid-row: 2 / 3;
        font-size: 24px;
        font-weight: bold;
        text-align: right;
        color: #333;
    }

    .details-statistics {
      grid-column: 11 / 13;
      grid-row: 3 / 4;
      width: max-content;
      display: block;
      padding: 15px 25px;
      border-radius: 10px;
      border: none;
      background-color: #f3853c;
      color: white;
      cursor: pointer;
    }

    .transaction {
        grid-column: 1 / 6;
        grid-row: 4 / 5;
        padding: 25px 50px;
        border-radius: 50px;
        background-color: #F3F4F6;
    

        .transaction__title {
            font-family: Work Sans;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.46px;
            text-align: left;
            margin-bottom: 35px;
        }

        .transaction__form {
          /* Используем Flexbox для более удобной верстки формы */
          display: flex;
          flex-direction: column; /* Располагаем элементы вертикально */
          gap: 25px; /* Отступ между элементами по умолчанию */
        
          .transaction__fieldset {
            margin-bottom: 20px;
            border: none;
        
            .transaction__legend {
              font-size: 16px;
              font-weight: bold;
              margin-bottom: 10px;
            }
        
            .transaction__input {
              padding: 10px;
              border: none;
              border-radius: 5px;
              width: 100%;
              font-size: 16px;
              outline: none;
            }
          }
        
          .transaction__submit-button {
            display: flex;
            margin: 0 auto; /* Центрируем кнопку по горизонтали */
            background-color: #0056B3;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            align-items: center; /* Выравниваем элементы по вертикали */
        
            /* "Прижимаем" кнопку к низу с помощью margin-top: auto */
            margin-top: auto; 
        
            svg {
              margin-right: 10px;
            }
          }
        }
    }

    .balance {
        grid-column: 6 / 13;
        grid-row: 4 / 5;
        padding: 25px 50px;
        border-radius: 50px;
        background-color: transparent;
        box-shadow: 0px 5px 20px 0px #00000040;


        .balance__h2 {
            font-family: Work Sans;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.46px;
            text-align: left;
            margin-bottom: 25px;
        }

    }

    .transactions-history {
        grid-column: 1 / 13;
        grid-row: 5 / 6;
        padding-top: 30px;
    }

  }


  .suggestions {
    list-style-type: none;
    padding: 10px;

    .suggestions__item {
      color: #0056B3;
      font-size: 16px;
    }
  }

  .error-message {
    color: #f00f0f;
  }