.currency-real__h2 {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.46px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
}

.currency-real__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.currency-real__item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
    font-family: monospace; 
    position: relative;
    border-bottom: 1px dashed;
    z-index: 0;
    margin-bottom: 20px;
}

.currency-real__currency {
    padding-right: 10px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.46px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #000000;
    background-color: #E5E5E5;
    position: absolute;
    bottom: -7px;
    left: 0;
    z-index: 1;
}

.currency-real__value {
    padding-left: 10px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #000000;
    background-color: #E5E5E5;
    position: absolute;
    bottom: -7px;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.currency-real__item.up {
    border-color: green;
}

.currency-real__item.down {
    border-color: red;
}

.currency-real__value.up {
    color: green;
}

.currency-real__value.down {
    color: red;
}

.indicator {
    margin-left: 5px;
}

.indicator.green {
    color: green;
}

.indicator.red {
    color: red;
}
